global:
  domain: argocd.example.com

server:
  extraArgs:
    - --insecure
  config:
    application.instanceLabelKey: argocd.argoproj.io/instance
  service:
    type: LoadBalancer
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
    hosts:
      - argocd.example.com
    paths:
      - /

configs:
  params:
    server.insecure: true
